name: Build and Deploy to Cloud Run

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Google Cloud SDK
      uses: google-github-actions/setup-gcloud@v0.3.0
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        export_default_credentials: true

    - name: Configure Docker
      run: |
        gcloud auth configure-docker

    - name: Build and push Docker image
      run: |
        docker build -t gcr.io/${{ secrets.GCP_PROJECT_ID }}/prompt-lab-be:${{ github.sha }} .
        docker push gcr.io/${{ secrets.GCP_PROJECT_ID }}/prompt-lab-be:${{ github.sha }}

    - name: Deploy to Cloud Run
      run: |
        gcloud run deploy prompt-lab-be \
        --image gcr.io/${{ secrets.GCP_PROJECT_ID }}/prompt-lab-be:${{ github.sha }} \
        --region asia-southeast1 \
        --platform managed \
        --allow-unauthenticated \
        --set-env-vars OPANAI_KEY=${{ secrets.OPENAI_KEY }} \
        --concurrency 5
